[Unit]
Description=Linux DAV Todo - A CalDAV Todo Application
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=%i
ExecStart=/usr/local/bin/linux-dav-todo

[Install]
WantedBy=multi-user.target